div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;  
    display: inline-block;  
}

#box1{
    position: static;
    background-color: red;
}

#box2{
    position: relative;
    top: 0px;
    background-color: burlywood;
}

#box3{
    position: absolute;
    top: 80px;
    background-color: yellow;
}

#box4{
    position: fixed;
    right: 200px;
}